<!-- الخدمات -->
<section class="services">
    <h2>{{ 'services.title' | translate }}</h2>

    <div class="services-grid">
        <div class="service-card">
            <span>💡</span>
            <h3>{{ 'services.header' | translate }}</h3>
            <p>
                {{ 'services.description' | translate }}
            </p>
        </div>

        <div class="service-card">
            <span>🧭</span>
            <h3>{{ 'services.second-header' | translate }}</h3>
            <p>
                {{ 'services.second-description' | translate }}
            </p>
        </div>

        <div class="service-card">
            <span>🧠</span>
            <h3>{{ 'services.third-header' | translate }}</h3>
            <p>
                {{ 'services.third-description' | translate }}
            </p>
        </div>

        <div class="service-card">
            <span>🤝</span>
            <h3>{{ 'services.fourth-header' | translate }}</h3>
            <p>
                {{ 'services.fourth-description' | translate }}
            </p>
        </div>
    </div>
</section>
