<!-- اتصال -->
<section class="contact">
    <h2>{{'contact.title' | translate}}</h2>
    <p>{{'contact.inquiry' | translate}}</p>

    <div class="contact-grid">
        <!-- نموذج الاتصال -->
        <form (submit)="onSubmit()" [formGroup]="feedbackForm">
            <input type="text" formControlName="name" placeholder="{{'contact.label-name' | translate}}" required>
            <input type="text" formControlName="number" placeholder="{{'contact.label-number' | translate}}" required>
            <textarea formControlName="message" rows="5" placeholder="{{'contact.label-message' | translate}}" required></textarea>
            <button type="submit">إرسال</button>
        </form>

        <!-- معلومات التواصل البديلة -->
        <div class="contact-info">
        <p>📧 {{'contact.email-label' | translate}}: <a href="mailto:youremail&#64;example.com">youremail&#64;example.com</a></p>
        <p>📱 WhatsApp: <a href="https://wa.me/xxxxxxxx" target="_blank">{{'contact.WhatsApp-label' | translate}}</a></p>
        <p>🌐 LinkedIn: <a href="https://linkedin.com/in/yourprofile" target="_blank">{{'contact.linkedin-label' | translate}}</a></p>
        </div>
    </div>
</section>

<!-- Loading -->
<div class="is_loader" *ngIf="loading">
    <div class="loader"></div>
</div>

<!-- Toaster -->
<div class="toast" *ngIf="toast.show">
  {{ toast.message }}
</div>