<!-- آراء العملاء -->
<section class="testimonials">
    <h2>{{'testimonials.title' | translate}}</h2>

    <div class="testimonials-grid">
        <div class="testimonial-card">
        <p>{{'testimonials.description' | translate}}</p>
        <h4>{{'testimonials.persone-name' | translate}}</h4>
        </div>

        <div class="testimonial-card">
        <p>{{'testimonials.second-description' | translate}}</p>
        <h4>{{'testimonials.second-persone-name' | translate}}</h4>
        </div>

        <div class="testimonial-card">
        <p>{{'testimonials.third-description' | translate}}</p>
        <h4>{{'testimonials.third-persone-name' | translate}}</h4>
        </div>
    </div>
</section>
