<!-- القسم التعريفي -->
<header>
    <div>
    <h1 [innerHTML]="'basic-info.title' | translate"></h1>
    <p [innerHTML]="'basic-info.description' | translate"></p>
    <div class="skills">
        <div class="badge">HTML</div>
        <div class="badge">CSS / Animations</div>
        <div class="badge">JavaScript</div>
        <div class="badge">UI/UX</div>
    </div>
    <div class="actions">
        <a class="dwnload-btn" download [href]="generatePdf(this.currentLang)" (click)="downloadCv(this.currentLang)">{{ 'basic-info.download-cv' | translate }}</a>
        <a class="btn secondary" *ngIf="this.currentLang !== 'fr'" (click)="changeLang('fr')">FR</a>
        <a class="btn secondary" *ngIf="this.currentLang !== 'en'" (click)="changeLang('en')">EN</a>
        <a class="btn secondary" *ngIf="this.currentLang !== 'ar'" (click)="changeLang('ar')">AR</a>
    </div>
    </div>

    <div class="avatar">
    <img src="https://placehold.co/400" alt="الصورة الشخصية" />
    </div>
</header>

<!-- Loading -->
<div class="is_loader" *ngIf="loading">
    <div class="loader"></div>
</div>

<!-- Toaster -->
<div class="toast" *ngIf="toast.show">
  {{ toast.message }}
</div>