<!-- المشاريع -->
<section>
  <h2>{{ 'projects.title' | translate }}</h2>
  <div class="projects">
    <div class="project">
      <img src="assets/images/web-dashboard.png" alt="مشروع" />
      <h3>{{ 'projects.header' | translate }}</h3>
      <p>{{ 'projects.description' | translate }}</p>
    </div>
    <div class="project">
      <img src="assets/images/landing-page.png" alt="مشروع" />
      <h3>{{ 'projects.second-header' | translate }}</h3>
      <p>{{ 'projects.second-description' | translate }}</p>
    </div>
  </div>
</section>
