<!-- المهارات -->
<section>
    <h2>المهارات</h2>
    <div class="skills mt-0">
        <div class="skills-mt">
            <h3 class="head-h3">الواجهة الأمامية</h3>
            <div class="skills-grid">
                <div class="skill-card">
                    <h3>HTML / CSS</h3>
                    <div class="skill-bar"><div style="width: 95%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>JavaScript / TypeScript</h3>
                    <div class="skill-bar"><div style="width: 90%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>React / Angular</h3>
                    <div class="skill-bar"><div style="width: 85%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>UI / UX Design</h3>
                    <div class="skill-bar"><div style="width: 90%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>Animations</h3>
                    <div class="skill-bar"><div style="width: 88%;"></div></div>
                </div>
            </div>
        </div>
        <div class="skills-mt">
            <h3 class="head-h3">الواجهة الخلفية</h3>
            <div class="skills-grid">
                <div class="skill-card">
                    <h3>NestJS</h3>
                    <div class="skill-bar"><div style="width: 65%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>SQL</h3>
                    <div class="skill-bar"><div style="width: 45%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>قواعد البيانات</h3>
                    <div class="skill-bar"><div style="width: 45%;"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fr -->
<!-- COMPETENCES -->
<section>
    <h2>Compétences</h2>
    <div class="skills mt-0">
        <div class="skills-mt">
        <h3 class="head-h3">Frontend</h3>
        <div class="skills-grid">
            <div class="skill-card">
            <h3>HTML / CSS</h3>
            <div class="skill-bar"><div style="width: 95%;"></div></div>
            </div>
            <div class="skill-card">
            <h3>JavaScript / TypeScript</h3>
            <div class="skill-bar"><div style="width: 90%;"></div></div>
            </div>
            <div class="skill-card">
            <h3>React / Angular</h3>
            <div class="skill-bar"><div style="width: 85%;"></div></div>
            </div>
            <div class="skill-card">
            <h3>UI / UX Design</h3>
            <div class="skill-bar"><div style="width: 90%;"></div></div>
            </div>
            <div class="skill-card">
            <h3>Animations</h3>
            <div class="skill-bar"><div style="width: 88%;"></div></div>
            </div>
        </div>
        </div>

        <div class="skills-mt">
        <h3 class="head-h3">Backend</h3>
        <div class="skills-grid">
            <div class="skill-card">
            <h3>NestJS</h3>
            <div class="skill-bar"><div style="width: 65%;"></div></div>
            </div>
            <div class="skill-card">
            <h3>SQL</h3>
            <div class="skill-bar"><div style="width: 45%;"></div></div>
            </div>
            <div class="skill-card">
            <h3>Bases de données</h3>
            <div class="skill-bar"><div style="width: 45%;"></div></div>
            </div>
        </div>
        </div>
    </div>
</section>

<!-- En -->
<!-- SKILLS -->
<section>
    <h2>Skills</h2>
    <div class="skills mt-0">
        <div class="skills-mt">
            <h3 class="head-h3">Frontend</h3>
            <div class="skills-grid">
                <div class="skill-card">
                <h3>HTML / CSS</h3>
                <div class="skill-bar"><div style="width: 95%;"></div></div>
                </div>
                <div class="skill-card">
                <h3>JavaScript / TypeScript</h3>
                <div class="skill-bar"><div style="width: 90%;"></div></div>
                </div>
                <div class="skill-card">
                <h3>React / Angular</h3>
                <div class="skill-bar"><div style="width: 85%;"></div></div>
                </div>
                <div class="skill-card">
                <h3>UI / UX Design</h3>
                <div class="skill-bar"><div style="width: 90%;"></div></div>
                </div>
                <div class="skill-card">
                <h3>Animations</h3>
                <div class="skill-bar"><div style="width: 88%;"></div></div>
                </div>
            </div>
        </div>

        <div class="skills-mt">
            <h3 class="head-h3">Backend</h3>
            <div class="skills-grid">
                <div class="skill-card">
                <h3>NestJS</h3>
                <div class="skill-bar"><div style="width: 65%;"></div></div>
                </div>
                <div class="skill-card">
                <h3>SQL</h3>
                <div class="skill-bar"><div style="width: 45%;"></div></div>
                </div>
                <div class="skill-card">
                <h3>Databases</h3>
                <div class="skill-bar"><div style="width: 45%;"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>