<!-- المهارات -->
<section>
    <h2>{{'skills.title' | translate}}</h2>
    <div class="skills mt-0">
        <div class="skills-mt">
            <h3 class="head-h3">{{'skills.header' | translate}}</h3>
            <div class="skills-grid">
                <div class="skill-card">
                    <h3>{{'skills.skill-1' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 95%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>{{'skills.skill-2' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 90%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>{{'skills.skill-3' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 85%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>{{'skills.skill-4' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 90%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>{{'skills.skill-5' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 88%;"></div></div>
                </div>
            </div>
        </div>
        <div class="skills-mt">
            <h3 class="head-h3">{{'skills.second-header' | translate}}</h3>
            <div class="skills-grid">
                <div class="skill-card">
                    <h3>{{'skills.skill-6' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 65%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>{{'skills.skill-7' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 45%;"></div></div>
                </div>
                <div class="skill-card">
                    <h3>{{'skills.skill-8' | translate}}</h3>
                    <div class="skill-bar"><div style="width: 45%;"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>
